<div class="footer py-3">
  <div class="container d-flex justify-content-between flex-md-row flex-column">


        <div id="footer-compagny mb-3">
            <%= image_tag "logo-brillance.svg", alt: "brillance-piscine" %>
            <div class="textwidget mt-3">
              <p>
               Nous avons plus de 25 ans d'expérience <br>dans la construction de piscines de coque polyester.
              </p>

            </div>
        </div>


        <div id="footer-adress pb-3">

            <h3 class="mt-3">ADRESSE</h3>
            <div class="textwidget">
              <p>
                <address>
                  <span class="shortcode_icon left" style="padding-right:7px;">
                    <i class="fas fa-map-marker-alt" style="color:#fff;font-size:14px;"></i>
                  </span>
                  <strong><%= data.site.name %></strong> <br>
                  <%= data.site.adresse.rue %> <br>
                  <%= data.site.adresse.postal %> <br>
                </address>
              </p>
              <p>
                <span class="shortcode_icon left" style="padding-right:5px;">
                  <i class="far fa-clock" style="color:#fff;font-size:14px;"></i></span> Mar-Sam:10:00-13:00 / 15:00-19:00

              </p>
            </div>

        </div>


        <div id="footer-contact">
            <h3 class="mt-3">NOUS JOINDRE</h3>
            <div class="textwidget">
              <div> <%= link_to "CONTACT", "contact", class: "btn btn-secondary-lg mb-2", id:"but-opa"  %> </div>
              <p class="d-inline-flex align-items-center">
                <span class="shortcode_icon left" style="padding:7px;">
                  <i class="fa fa-phone" style="color:#fff;font-size:14px;"></i>
                 </span><%= link_to data.site.phone , "tel:0564375955",  class: "click-to-call", :style => "color: #fff; text-decoration: underline;" %>
              </p>
              <p>
                <span class="shortcode_icon left" style="padding:7px;">
                  <i class="fa fa-envelope" style="color:#fff;font-size:12px;"></i>
                </span> <a href="mailto:contact@couleurpiscine.com">contact@brillancepiscine.com</a>
              </p>
              <div class="footer-links">
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/douceurpiscine/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/douceurpiscinepolyester" target="_blank" ><i class="fab fa-facebook"></i></a>
              </div>
            </div>
        </div>

  </div>
  <div class="footer-copyright">
    © <%= Time.now.year %> <strong><%= data.site.name %></strong> | <%= link_to "Mentions légales", "#"  %>  | <%= link_to "Piscines", "piscines"  %>  | <%= link_to "Contact", "contact"  %> | made by <%= data.site.name %>
  </div>
</div>
