---
title: Douceur piscine
---

<div class="banner mb-3">
  <div class="container">
    <h1>VOTRE EXPERT <span>PISCINES POLYESTER</span></h1>
    <p>SOYEZ PRÊT POUR L’ÉTÉ !</p>
    <a href="#" class="btn-primary-lg">GET A QUICK QUOTE</a>
    <a href="#" class="btn-secondary-lg">EXPLORE OUR POOL</a>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <div class="col-12 col-sm-4">
        <h2><%= image_tag "bullet-point.png", alt: "", class:"pb-1" %> QUI SOMMES NOUS ?</h2>
      <p>
        Votre expert de la <span>piscine coque polyester en Gironde</span>.
        Spécialiste dans l'installation de piscine coque polyester,
        <span>Douceur Piscine</span> vous accueille à Saint Jean d’Illac près de
        Bordeaux, pour vous conseiller et vous accompagner dans le choix et la construction de votre piscine. <%= link_to "en savoir plus", "#", class:"link"  %>
      </p>
      <div class="ic-inner my-2">
        <i class="fas fa-check"></i>
        <span class="p-2">Etude personalisée de votre projet de piscine</span>
      </div>
      <div class="ic-inner my-2">
        <i class="fas fa-check"></i>
        <span class="p-2">Equipements et accessoires</span>
      </div>
      <div class="ic-inner my-2">
        <i class="fas fa-check"></i>
        <span class="p-2">Traitement de l'eau</span>
      </div>

    </div>
    <div class="col-12 col-sm-4">
      <div class="d-inline">
        <%= image_tag "warranty.png", alt: "piscine garantie 10ans" %>
        <%= image_tag "garantie-st.png", alt: "piscine garantie 10ans" %>
        <p>
         <span>Le monobloc polyester</span>  est une réalisation de <span>piscine en matériaux composites</span> dotées de renforts et fabriquée en un seul bloc qui vous procure <span>une étanchéité parfaite et une robustesse dans le temps</span> . De plus, l’entretien de piscine polyester est facile et peu coûteux.
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <%= image_tag "logo-fa.png", alt: "piscine france", class:"d-block mb-2" %>
      <h3 class="mt-3">Fabrication Française</h3>
      <p>
        Nos coques de fabrication française bénéficient
        d’un ensemble de brevets et de certifications
        qui garantissent une avance technologique remarquable.
        <span>Notre devise :</span> Fabrication française garantie, Service de proximité,
        Disponibilité et Conseil d’un professionnel expérimenté.
      </p>
    </div>
</div>
