---
title: Nos Piscines  | Douceur Piscine
---
<div class="header-page d-flex justify-content-between align-items-center flex-lg-row flex-column py-3 px-5">
  <div>
    <h1>Nos modéles de piscines proposées </h1>
    <p>Votre spécialiste de la piscine coque polyester</p>
  </div>
 <div> <%= link_to "etude personnalisée", "contact", class: "btn btn-success"  %> </div>
</div>

<div class="container py-5">
  <h2> Présentation des piscines installées. </h2>
  <h3>Toutes les piscines coques polyester fonds plats et fonds progressifs</h3>

  <div class="cards py-5">
   <% data.piscines.each do |piscine| %>
    <div class= "pool-card" data-toggle="modal" data-target="#modal-<%= piscine.name %>" >
      <%= image_tag piscine.url, alt: piscine.tag, :style => "height: 300px; cursor: pointer" %>
      <div class="pool-card-footer">
        <div>
          <h3><%= piscine.name %></h3>
        </div>
          <p><%= piscine.tag %></p>
      </div>
        <div id="modal-<%= piscine.name %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <%= image_tag piscine.url, alt: piscine.tag %>
            </div>
          </div>
        </div>
    </div>
   <% end %>
  </div>
</div>


